body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E5E5E5;   /* #F5F7FA */
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse; 
  flex: 1 2 1200px;
  
  justify-content: space-between;
  align-items: stretch;
  

  /* width: 1200px;
   */
  margin: 0 auto;
}

.main-content {
  flex-grow: 3;
  flex-shrink: 1;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 90px;
  /* width: 600px; */
}

/* about styles */
.about {
  margin-bottom: 5px;
}

.about-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 0px;
  margin-top: 25px;
}

.about-position {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #FB6D3A;
}

.about-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-align: justify;
}

.h3-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* projects styles */
.projects-list {
  padding: 0;
  margin-left: 16px;
}

.projects{
  margin-bottom: 50px;
}

.projects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project, .project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; 
  color: #595959;
}

.project-link {
  margin-left: 10px;
}

.project-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* work styles */

.work-experience {
  margin-bottom: 50px;
}

.work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
}

.organization {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
}

.line {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.period-work {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

/* education styles */
.education {
  margin-bottom: 40px;
}

.institute {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
  margin: 0;
}

.specialization {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.period-study {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}

/* courses styles */
.courses {
  margin-bottom: 50px;
}

.course {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
  margin: 5px 0px;
}

/* hobbies styles */
.hobbies {
  margin-bottom: 50px;
}

.hobbies-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FB6D3A;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* sidebar styles */
.sidebar {
  flex: 2 1 1200px;
  background-color: #1e2939;
  padding-top: 40px;
  
}

.photo {
  display: flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
  overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
  width: 370px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 10px;
}

.contacts, .tech-skills, .soft-skills, .languages {
  margin-left: 40px;
}

.contact-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 5px;
}

.contact-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF; /* #565E6A */
  opacity: 0.5;
}

.tech-skills-list, .soft-skills-list, .languages-list {
  color: #fff;
  padding: 0;         /* padding 17px; --margin */
  margin-left: 17px;  
}

.tech-skills-item, .soft-skills-item, .languages-item {
  color: #FB6D3A;
}

.tech-skills-text, .soft-skills-text, .languages-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.tech-skills-text {
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 40px;
}